<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <h1>BREAD</h1>
      </div>
      <div class="card-body">
        <form id="form" style="display: none">
          <fieldset>
            <div class="mb-3">
              <label for="number1" class="form-label">Number</label>
              <input
                type="number"
                id="number1"
                class="form-control"
                placeholder="Number"
                name="number"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="string1" class="form-label">String</label>
              <input
                type="text"
                id="string1"
                class="form-control"
                placeholder="String"
                name="string"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="integer1" class="form-label">integer</label>
              <input
                type="number"
                id="integer1"
                class="form-control"
                placeholder="integer"
                name="integer"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="float1" class="form-label">float</label>
              <input
                type="number"
                step="0.01"
                id="float1"
                class="form-control"
                placeholder="float"
                name="float"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="date1" class="form-label">date</label>
              <input
                type="date"
                id="date1"
                class="form-control"
                placeholder="date"
                name="date"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="boolean1" class="form-label">boolean</label>
              <select id="boolean1" name="boolean">
                <option disabled>Choose the boolean...</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Tambah</button>
          </fieldset>
        </form>
      </div>
      <div class="card-body">
        <form id="form2" style="display: none">
          <fieldset>
            <div class="mb-3">
              <label for="number2" class="form-label">Number</label>
              <input
                type="number"
                id="number2"
                class="form-control"
                placeholder="Number"
                name="number"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="string2" class="form-label">String</label>
              <input
                type="text"
                id="string1"
                class="form-control"
                placeholder="String"
                name="string"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="integer2" class="form-label">integer</label>
              <input
                type="number"
                id="integer2"
                class="form-control"
                placeholder="integer"
                name="integer"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="float2" class="form-label">float</label>
              <input
                type="number"
                step="0.01"
                id="float2"
                class="form-control"
                placeholder="float"
                name="float"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="date2" class="form-label">date</label>
              <input
                type="date"
                id="date2"
                class="form-control"
                placeholder="date"
                name="date"
                value=""
              />
            </div>
            <div class="mb-3">
              <label for="boolean2" class="form-label">boolean</label>
              <select id="boolean2" name="boolean">
                <option disabled>Choose the boolean...</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Edit</button>
          </fieldset>
        </form>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>number</td>
            <td>string</td>
            <td>integer</td>
            <td>float</td>
            <td>date</td>
            <td>boolean</td>
          </tr>
        </thead>
        <tbody id="body-bread"></tbody>
      </table>
      <button class="btn btn-primary" id="addButton">Add</button>
    </div>
    <script>
      //script javascript disini
      function loadData() {
        fetch("http://localhost:3000/")
          .then((response) => response.json())
          .then((data) => {
            let html = "";
            data.forEach((datas) => {
              html += `
              <tr>
                <td>${datas.number}</td>
                <td>${datas.string}</td>
                <td>${datas.integer}</td>
                <td>${datas.float}</td>
                <td>${datas.date}</td>
                <td>${datas.boolean}</td>
                <td>
                  <button class="btn btn-danger" onclick="deleteData('${datas._id}')">Hapus</button>
                  <button class="btn btn-primary" id="editButton">Edit</button>
                  <button class="btn btn-success" onclick="editData('${datas._id}')">Edit</button>
                </td>
                </tr>
              `;
            });
            document.getElementById("body-bread").innerHTML = html;
          })
          .catch((err) => {
            console.log(err);
            alert("gagal");
          });
      }

      function addData() {
        const string = document.getElementById("string1").value;
        const number = document.getElementById("number1").value;
        const integer = document.getElementById("integer1").value;
        const float = document.getElementById("float1").value;
        const date = document.getElementById("date1").value;
        const boolean = document.getElementById("boolean1").value;

        fetch("http://localhost:3000/", {
          method: "POST", // or 'PUT'
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            string,
            number,
            integer,
            float,
            date,
            boolean,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            loadData();
            form.style.display = "none";
            const string = (document.getElementById("string1").value = "");
            const number = (document.getElementById("number1").value = "");
            const integer = (document.getElementById("integer1").value = "");
            const float = (document.getElementById("float1").value = "");
            const date = (document.getElementById("date1").value = "");
            const boolean = (document.getElementById("boolean1").value = "");
          });
      }

      async function editData(id) {
        try {
          const number = document.getElementById("number2").value;
          const string = document.getElementById("string2").value;
          const integer = document.getElementById("integer2").value;
          const float = document.getElementById("float2").value;
          const date = document.getElementById("date2").value;
          const boolean = document.getElementById("boolean2").value;
          const data = {
            number: number,
            string: string,
            integer: integer,
            float: float,
            date: date,
            boolean: boolean,
          };
          if (!number || !string || !integer || !float || !date || !boolean) {
            alert("Please,Insert the data");
            return;
          }
          const response = await fetch(`http://localhost:3000/${id}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
          if (response.ok) {
            const result = await response.json();
            console.log("Success: ", result);
            // Clear the input fields
            document.getElementById("number2").value = "";
            document.getElementById("string2").value = "";
            document.getElementById("integer2").value = "";
            document.getElementById("float2").value = "";
            document.getElementById("date2").value = "";
            document.getElementById("boolean2").value = "";
            loadData();
          }
        } catch (error) {
          console.log(error);
        }
      }

      function deleteData(id) {
        fetch(`http://localhost:3000/${id}`, {
          method: "DELETE", // or 'PUT'
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            loadData();
          });
      }

      const addButton = document.getElementById("addButton");
      const form = document.getElementById("form");

      addButton.addEventListener("click", function () {
        if (form.style.display === "none") {
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }
      });

      const editButton = document.getElementById("editButton");
      const form2 = document.getElementById("form2");

      editButton.addEventListener("click", function () {
        const id = `${datas._id}`;

        // Mengambil data lama berdasarkan ID menggunakan API GET
        fetch(`http://localhost:3000/${id}`) // Ganti "your_route" dengan route API GET yang sesuai
          .then((response) => response.json())
          .then((data) => {
            // Mengisi nilai-nilai form dengan data lama
            document.getElementById("number2").value = data.number;
            document.getElementById("string2").value = data.string;
            document.getElementById("integer2").value = data.integer;
            document.getElementById("float2").value = data.float;
            document.getElementById("date2").value = data.date;
            document.getElementById("boolean2").checked = data.boolean;

            // Menampilkan form edit
            form2.style.display = "block";
          })
          .catch((error) => {
            console.log(error);
          });
      });

      document
        .getElementById("form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          addData();
          editData();
        });

      loadData();
    </script>
  </body>
</html>
